/* damos unas margenes de 0  para poder pasar las margenes que tiene establecidas de defecto el body y damos un color gris
le damos flex y lo organizamos modo column y damos un wrap */
body{
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    background-color: rgb(235, 235, 235);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    }
    /* en el encabezado lo ajustamos le damos un borde inferior y lo wrapeamos para que se ajuste  */
.encabezado{
    background-color: white;
    border-bottom-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
    box-shadow: 2px 2px 5px rgb(146, 146, 146);
    display: flex;
    flex-wrap: wrap;
}
/* ajustamos el logo como anteriormente */
.e-logo{
    height: 100%;
    min-width: 10rem;
    max-width: 15rem;
    margin: 2rem;
    padding-left: 1.5rem;
}
/* en la busqueda creamos las propiedades de flex para que quede horizontal y centrado le damos un borde y una sombra */
.busqueda{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    margin: 1rem;
    padding-left: 1rem;
    border-radius: 1.5rem;
    box-shadow: 2px 2px 5px rgb(146, 146, 146);
    min-width: 15rem;
}
/* en este espacio creamos como la parte de la busqueda un espacio donde se va escribir con bordes rojos y fondo blanco */
.b-escribir{
    margin: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    min-width: 9rem;
    display: flex;
    justify-content: start;
    align-items: center;
    height: 2.5rem;
    border: 1px solid rgb(170, 27, 27);
    border-radius: 3rem;
    padding-left: 1rem;
    padding-right: 5rem;
    font-family: sans-serif;
}
/* en este veremos como hace presencia el boton buscar con sus propiedaes centradas y colores rojos */
.b-escribir2{
    min-width: 9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.2rem;
    border: 1px solid  rgb(170, 27, 27);
    border-radius: 3rem;
    background:  rgb(170, 27, 27);
    color: white;
    font-family: sans-serif;
}
/* aqui ajustamos la respueta que lanza de iron man la wrapeamos le damos centrar y ponemos formato column  */
.personaje{
    background-color: white;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    min-width: 10rem;
    max-width: 15rem;
    margin: 2rem;
    border-radius: 1.5rem;
    padding-bottom:1.5rem ;
    box-shadow: 0px 2px 5px rgb(146, 146, 146);
}
/*  esta imagen la ajustamos como las anteriores pero la cortamos con un fit y la ajustamos con width i height*/
.p-img{
    height: 100%;
    min-width: 5rem;
    max-width: 15rem;
    border-top-right-radius: 1.5rem ;
    border-top-left-radius: 1.5rem ;
    object-fit: cover;
    width: 35vw;
    height: 170px;
    
}
/* ajustamos el texto  */
h3{
    font-family: sans-serif;
    font-size: 1rem;
    padding: 1rem;
}
/* damos una propiedad extra al boton 2 que es un tamaño de height mayor */
.b-btn{
    height: 2.5rem;
}